{
  "openapi": "3.0.1",
  "info": {
    "title": "Pascalate API Documentation",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://api.pascalate.com",
      "description": "Pascalate helps App Developers generate random yet valid test Data to test or seed their applications"
    }
  ],
  "paths": {
    "/api/Date": {
      "get": {
        "tags": [
          "Date"
        ],
        "summary": "Dates",
        "description": "sample date remarks",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Date request type",
            "schema": {
              "$ref": "#/components/schemas/DateRequestType"
            }
          },
          {
            "name": "ageType",
            "in": "query",
            "description": "Desired age type. Used only if type is set to birthday",
            "schema": {
              "$ref": "#/components/schemas/UserAgeType"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum date",
            "schema": {
              "type": "string",
              "description": "Minimum date",
              "nullable": true,
              "example": "12/20/1930"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum date",
            "schema": {
              "type": "string",
              "description": "Maximum date",
              "nullable": true,
              "example": "1/1/2020"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated Date",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Finance/creditcard/name": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Credit Card Name",
        "description": "Returns a random Credit Card Name",
        "responses": {
          "200": {
            "description": "Credit Card Name",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Finance/creditcard/details": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Credit Card Data",
        "description": "Generates random Valid Credit Card Details",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Optional Credit card name",
            "schema": {
              "type": "string",
              "description": "Optional Credit card name",
              "nullable": true,
              "example": "Visa"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated Date",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreditCardModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditCardModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditCardModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/Id/numeric": {
      "get": {
        "tags": [
          "Id"
        ],
        "summary": "Numerical identifier of a given length",
        "parameters": [
          {
            "name": "length",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "description": "",
              "format": "int32",
              "default": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated numeric value",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Id/alphanumeric": {
      "get": {
        "tags": [
          "Id"
        ],
        "summary": "Alphanumeric string",
        "parameters": [
          {
            "name": "length",
            "in": "query",
            "description": "length",
            "schema": {
              "type": "integer",
              "description": "length",
              "format": "int32",
              "default": 7,
              "example": 9
            }
          },
          {
            "name": "with_numbers",
            "in": "query",
            "description": "include numbers",
            "schema": {
              "type": "boolean",
              "description": "include numbers",
              "default": true,
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated value",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Id/guid": {
      "get": {
        "tags": [
          "Id"
        ],
        "summary": "Guid",
        "responses": {
          "200": {
            "description": "Generated Guid",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Id/ssn": {
      "get": {
        "tags": [
          "Id"
        ],
        "summary": "Social Security Number (SSN)",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Format SSN(xxx-xx-xxxx) or not (xxxxxxxxx)",
            "schema": {
              "type": "boolean",
              "description": "Format SSN(xxx-xx-xxxx) or not (xxxxxxxxx)",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated SSN",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Id/ein": {
      "get": {
        "tags": [
          "Id"
        ],
        "summary": "US EIN",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Format EIN(XX-XXXXX) or not (XXXXXXX)",
            "schema": {
              "type": "boolean",
              "description": "Format EIN(XX-XXXXX) or not (XXXXXXX)",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated EIN",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Id/soundex": {
      "get": {
        "tags": [
          "Id"
        ],
        "summary": "Soundex representation of a name",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "schema": {
              "type": "string",
              "description": "Name",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated Soundex representation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Id/driverlicense": {
      "post": {
        "tags": [
          "Id"
        ],
        "summary": "valid Drivers license number. Currently work only for Florida Numbers",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DriverLicenseRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DriverLicenseRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DriverLicenseRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DriverLicenseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated Drivers License",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DateRequestType": {
        "enum": [
          "Birthday",
          "Future",
          "Past"
        ],
        "type": "string"
      },
      "UserAgeType": {
        "enum": [
          "Infant",
          "Child",
          "Teenager",
          "Adult",
          "Youth",
          "Retired"
        ],
        "type": "string"
      },
      "CreditCardModel": {
        "type": "object",
        "properties": {
          "issuer": {
            "type": "string",
            "nullable": true
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "month": {
            "type": "string",
            "nullable": true
          },
          "year": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DriverLicenseRequest": {
        "required": [
          "country",
          "dateOfBirth",
          "firstName",
          "gender",
          "lastName",
          "state"
        ],
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "default": "us"
          },
          "state": {
            "type": "string",
            "default": "fl"
          },
          "firstName": {
            "type": "string"
          },
          "middleName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time"
          },
          "gender": {
            "type": "string",
            "default": "female"
          }
        },
        "additionalProperties": false
      }
    }
  },
  "tags": [
    {
      "name": "Date",
      "description": "Date Generators"
    },
    {
      "name": "Id",
      "description": "Valid random Identifiers"
    }
  ]
}